body {
/* background-color: gray; */
background: url(exoplanets_06_1280.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: 100% auto;

}

.page-header {
/* background-color: gray; */
top: 0;
left: 0;
font-weight: bolder;
font-family: Arial;
font-size: 2.5rem;
color: black;
text-align: center;
position: absolute;
width: 100%;
}

.header h1 {
	margin: 0;
}

.grid {
display: grid;
grid-template-areas: "header header header"
							"left-col picture right-col"
							"footer footer footer";
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 70px auto 0px;
justify-items: center;
align-items: center;
height: 95vh;
}

.header {
	grid-area: header;
	/* background-color: gray; */
	top: 0;
	left: 0;
	font-weight: bolder;
	font-family: Arial;
	font-size: 2.0rem;
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
}

.footer {
	grid-area: footer;
}

.leftcol {
	grid-area: left-col;
	border-style: inset;
	border-width: 10px;
	height: 87%;
	width: 75%;
	border-color: black;
	background: lightgray;
}

.rightcol {
	grid-area: right-col;
	border-style: inset;
	border-width: 10px;
	height: 87%;
	width: 75%;
	border-color: black;
	background: lightgray;
}

.centercol {
	grid-area: picture;
	border-style: inset;
	border-width: 10px;
	border-color: black;
}

.img {
	max-width: 100%;
	height: auto;
}
