body {
/* background-color: gray; */
background: url(exoplanets_06_1280.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: 100% auto;

}

.header h1 {
	margin: 0;
}

#app {
	display: grid;
	grid-template-areas: "user title menu"
											 "left-col center-col right-col"
											 "footer footer footer";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 70px auto 0px;
	justify-items: center;
	align-items: center;
	height: 95vh;
}

#io_select {
	display: grid;
	grid-template-areas: "name set pud inout";
	grid-template-columns: 65px 110px 160px 205px;
}

#pwm_select {
	display: grid;
	grid-template-areas: "pwmname one two three";
	grid-template-columns: 65px 110px 160px 105px;
}

#script_select {
	display: grid;
	grid-template-areas: "scriptbtn scr-running";
	grid-template-columns: 210px 50px;
}

#logout {
	grid-area: user;
	justify-self: center;
  background-color: inherit;
  font-size: 14px;
  cursor: pointer;

}

#script {
	grid-area: user;
	justify-self: center;
  background-color: inherit;
  font-size: 14px;
  cursor: pointer;
}

.name{
	text-align: center;
	background-color: orange;
	border-style: outset;
	border-color: darkgray;
	font-size: 12px;
}

.pwmname{
	text-align: center;
	background-color: orange;
	border-style: outset;
	border-color: darkgray;
	font-size: 12px;
}

.script{
	box-sizing: border-box;
	grid-area: scriptname;
	width: auto;
	height: auto;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
	text-align: center;
	background-color: black;
	border-style: outset;
	border-color: darkgray;
	font-size: 14px;
}

.set{
	box-sizing: border-box;
	grid-area: set;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
  background-color: darkgray;
	border-style: outset;
	border-color: darkgray;
}

.ioset{
	font-size: 15px;
	box-sizing: border-box;
	grid-area: set;
	width: 100%;
	text-align: center;
	color: white;
	justify-self: center;
	align-self: stretch;
	align-items: stretch;
	justify-content: center;
  background-color: #050197;
	border-style: outset;
	border-color: darkgray;
}

.iosetb{
	font-size: 15px;
	box-sizing: border-box;
	grid-area: set;
	width: 100%;
	text-align: center;
	color: white;
	justify-self: center;
	align-self: stretch;
	align-items: stretch;
	justify-content: center;
  background-color: #8a9100;
	border-style: outset;
	border-color: darkgray;
}

.pud{
	box-sizing: border-box;
	grid-area: pud;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
  background-color: #8475ff;
	border-style: outset;
	border-color: darkgray;
}

.col3{
	grid-area: pud;
	justify-self: center;
	box-sizing: border-box;

	align-items: center;
  background-color: wheat;
	color: black;
	border-style: outset;
	border-color: darkgray;
	width: 100%;
	font-size: 15px;
}

.col3serial{
	background-color: lime;
}

.col3spi{
	background-color: magenta;
}

.col3i2c{
	background-color: cyan;
}

.col3pwm{
	background-color: yellow;
}

.lset{
	box-sizing: border-box;
	grid-area: set;
	justify-self: end;
	align-self: center;
	align-items: center;
  background-color: inherit;
}

.center {
	text-align: center;
}

.linh{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;

	align-items: center;
  background-color: red;
	color: black;
	border-style: outset;
	border-color: darkgray;
	width: 100%;
	font-size: 15px;
}

.linl{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;

	align-items: center;
  background-color: black;
	color: white;
	border-style: outset;
	border-color: black;
	width: 100%;
	font-size: 15px;
}

.lina{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;

	align-items: center;
  background-color: white;
	color: #026201;
	border-style: outset;
	border-color: darkgray;
	width: 100%;
	font-size: 15px;
}

.lout{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;
	align-self: center;
	align-items: center;
  background-color: inherit;
	border-style: outset;
	border-color: darkgray;
	width: 100%;
}

.header {

	top: 0;
	left: 0;
	font-weight: bolder;
	font-family: Arial;
	font-size: 1.8rem;
	color: white;
	text-align: center;
}

.footer {
	grid-area: footer;
}

.leftcol {
	font-size: 12px;
	grid-area: left-col;
	border-style: ridge;
	border-width: 10px;
	border-color: darkgray;
	background: lightgray;

}

.rightcol {

	grid-area: right-col;
	border-style: ridge;
	border-width: 10px;
	border-color: darkgray;
	background: lightgray;

}

.centercol {

	grid-area: center-col;
	border-style: ridge;
	border-width: 10px;
	border-color: darkgray;
	background: lightgray;

}

.optcol {
	font-size: 12px;
	grid-area: left-col;
	border-style: ridge;
	border-width: 10px;
	border-color: darkgray;
	background: lightgray;

}

.picture {
	grid-area: picture;
	/* border-style: inset;
	border-width: 10px;
	border-color: black; */
}

.img {
	max-width: 100%;<!-- <a id='logout' href="{% url 'logout' %}"><button class='btn'>Logout</button></a> -->
	height: auto;
}

.user {
	grid-area: user;
	justify-self: start;
	color: lightgreen;
	font-weight: bolder;
	font-family: Arial;
	font-size: 1.2rem;
	padding: 4px 8px;
}

.btn {
	justify-self: center;
  background-color: inherit;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
	color: lightgreen;
}

.scriptbtn {
	box-sizing: border-box;
	grid-area: scriptbtn;
	width: 100%;
	height: auto;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
  background-color: lightblue;

	border-color: white;
  /* padding: 2px 2px; */
  font-size: 15px;
  cursor: pointer;
	color: black;
}

.running {
	box-sizing: border-box;
	grid-area: scr-running;
	width: 100%;
	justify-self: center;
	align-self: center;
	background-color: red;
	border-color: white;
  font-size: 15px;
  color: black;
	border-style: outset;
}

.notrunning {
	box-sizing: border-box;
	grid-area: scr-running;
	width: 100%;
	justify-self: center;
	align-self: center;
	background-color: black;
	border-color: white;
  font-size: 15px;
	color: black;
	border-style: outset;
}

/* On mouse-over */
.btn:hover {
	background-color: lightgreen;
	color: black;
}

.scriptbtn:hover {
	background-color: blue;
	color: white;
}

.pyterm {
	height: 540;
	width: 500;
}

.ipadd {
	grid-area: menu;
	justify-self: end;

	color: lightgreen;
	font-weight: bolder;
	font-family: Arial;
	font-size: 1.2rem;
	padding: 4px 8px;

}
