body {
/* background-color: gray; */
background: url(exoplanets_06_1280.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: 100% auto;

}

.header h1 {
	margin: 0;
}

#app {
	display: grid;
	grid-template-areas: "user header menu"
											 "left-col picture right-col"
											 "footer footer footer";
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 70px auto 0px;
	justify-items: center;
	align-items: center;
	height: 95vh;
}

#io_select {
	display: grid;
	grid-template-areas: "name set pud inout";
	grid-template-columns: 80px 115px 115px 215px;
	gap: 0;
}

#script_select {
	display: grid;
	grid-template-areas: "scriptbtn running";
	grid-template-columns: 280px 80px;
	gap: 0;
}

#logout {
	grid-area: user;
	justify-self: center;
  background-color: inherit;
  /* padding: 4px 8px; */
  font-size: 14px;
  cursor: pointer;
	/* color: lightgreen; */
}

.name{
	box-sizing: border-box;
	grid-area: name;
	width: auto;
	height: auto;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
	text-align: center;
	background-color: orange;
	border-style: solid;
	border-color: white;
	font-size: 14px;
}

.script{
	box-sizing: border-box;
	grid-area: scriptname;
	width: auto;
	height: auto;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
	text-align: center;
	background-color: red;
	border-style: solid;
	border-color: white;
	font-size: 14px;
}

.set{
	box-sizing: border-box;
	grid-area: set;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
  background-color: darkgray;
	border-style: solid;
	border-color: white;
}

.pud{
	box-sizing: border-box;
	grid-area: pud;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
  background-color: powderblue;
	border-style: solid;
	border-color: white;
}

.col3{
	grid-area: pud;
	justify-self: center;
	box-sizing: border-box;
	align-self: center;
	align-items: center;
  background-color: wheat;
	color: black;
	border-style: solid;
	border-color: white;
	width: 100%;
	font-size: 17px;
}

.col3serial{
	background-color: lime;
}

.col3spi{
	background-color: magenta;
}

.col3i2c{
	background-color: cyan;
}

.col3pwm{
	background-color: yellow;
}

.lset{
	box-sizing: border-box;
	grid-area: set;
	justify-self: end;
	align-self: center;
	align-items: center;
  background-color: inherit;
}

.center {
	text-align: center;
}

.linh{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;
	align-self: center;
	align-items: center;
  background-color: red;
	color: black;
	border-style: solid;
	border-color: white;
	width: 100%;
	font-size: 17px;
}

.linl{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;
	align-self: center;
	align-items: center;
  background-color: black;
	color: white;
	border-style: solid;
	border-color: white;
	width: 100%;
	font-size: 17px;
}

.lout{
	box-sizing: border-box;
	grid-area: inout;
	justify-self: center;
	align-self: center;
	align-items: center;
  background-color: inherit;
	border-style: solid;
	border-color: white;
	width: 100%;
}

.header {
	grid-area: header;
	top: 0;
	left: 0;
	font-weight: bolder;
	font-family: Arial;
	font-size: 1.6rem;
	color: white;
	text-align: center;
}

.footer {
	grid-area: footer;
}

.leftcol {
	font-size: 14px;
	grid-area: left-col;
	border-style: inset;
	border-width: 10px;
	border-color: black;
	background: lightgray;

}

.rightcol {
	font-size: 14px;
	grid-area: right-col;
	border-style: inset;
	border-width: 10px;
	border-color: black;
	background: lightgray;

}

.centercol {
	grid-area: picture;
	border-style: inset;
	border-width: 10px;
	border-color: black;
}

.img {
	max-width: 100%;<!-- <a id='logout' href="{% url 'logout' %}"><button class='btn'>Logout</button></a> -->
	height: auto;
}

.user {
	grid-area: user;
	justify-self: start;
	color: lightgreen;
	font-weight: bolder;
	font-family: Arial;
	font-size: 1.2rem;
	padding: 4px 8px;
}

.btn {
	justify-self: center;
  background-color: inherit;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
	color: lightgreen;
}

.scriptbtn {
	box-sizing: border-box;
	grid-area: scriptbtn;
	width: 100%;
	height: auto;
	justify-self: stretch;
	align-self: stretch;
	justify-content: center;
  background-color: lightblue;

	border-color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
	color: black;
}


/* On mouse-over */
.btn:hover {
	background-color: lightgreen;
	color: black;
}

.scriptbtn:hover {
	background-color: blue;
	color: white;
}

.pyterm {
	height: 730;
	width: 500;
}

.grid {
	gap: 0;
	grid-template-rows: 1fr;
}

.ipadd {
	grid-area: menu;
	justify-self: end;
	color: lightgreen;
	font-weight: bolder;
	font-family: Arial;
	font-size: 1.2rem;
	padding: 4px 8px;
}
