{% load static %}
<html>
    <head>
        <title>Raspberry Pi I/O</title>
        <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
        <link rel="shortcut icon" href="{% static 'css/favicon.png' %}" type="image/x-icon" />
    </head>
    <body>
      <div class="header">

      </div>
      <div id='app'>
      <!-- <div class="header">
        <h1>Raspberry Pi I/O</h1>
      </div> -->
      <a class="user">User: {{request.user.username}}</a>
      <h1 class="header">Raspberry Pi I/O Controller</h1>
      <a class="ipadd">IP: {{IPX}}</a>
      <a id='logout' href="{% url 'logout' %}"><button class='btn'>Logout</button></a>
      <!-- <a class="ipadd">IP: {{IPX}}</a> -->
        {# ---These here call stuff in main.js-------------------------------------------------------------------------------------------------- #}
<!-- ----------------------------------------------------------------------------------------------- -->
        	<div class="leftcol">
            <div class="radio">
              <div class='pin' v-for="pin in pins" v-bind:key='pin.name'>
                <div class='grid' id='io_select'>
                    <a class='name'>GPIO ${pin.name}</a>
                    <a class='set'>
                    <input type="radio" v-bind:name="'GPIO'+pin.name" value='1' v-model="pin.func" v-on:change="setPin(pin.name, pin.func)">
                    <label for="in">In</label>
                    <input type="radio" v-bind:name="'GPIO'+pin.name" value='0' v-model="pin.func" v-on:change="setPin(pin.name, pin.func)">
                    <label for="out">Out</label></a>
                    {# This is column 3 stuff #}
                    <a class='pud' v-if="pin.func==1"> {# 1 = Input #}
                        <input type="radio" v-bind:name="'PUD'+pin.name" value='up' v-model="pin.pud" v-on:change="gpup(pin.name, pin.pud)">
                        <label for="up">Up</label>
                        <input type="radio" v-bind:name="'PUD'+pin.name" value='down' v-model="pin.pud" v-on:change="gpdn(pin.name, pin.pud)">
                        <label for="down">Dn</label></a>



                    <template> {# v-if="pin.func==0" -Show Alt functions when not set to input #}
                         <a class='col3 center' v-if="pin.func==0">GPIO OUT</a>
                         <a class='col3 center col3serial' v-if="pin.func==40">SERIAL</a>
                         <a class='col3 center col3spi' v-if="pin.func==41">SPI</a>
                         <a class='col3 center col3i2c' v-if="pin.func==42">I2C</a>
                         <a class='col3 center col3pwm' v-if="pin.func==43">PWM</a>
                    </template>


                    {# This is column 4 stuff #}
                  	<template v-if="pin.func==1"> {# 1 = Input #}
                         <a class='linh center' v-if="pin.in_lvl==1">***HIGH***</a>
                         <a class='linl center' v-if="pin.in_lvl==0">---LOW---</a>
                         <!-- <a class='linl center' v-if="script.running==true">---PRESS TO EXIT---</a> -->
                    </template>
                  	<a class='lout' v-if="pin.func==0"> {# 0 = Output #}
                         <label>OUT:</label>
                  		   <input type="radio" v-bind:name="'OUT'+pin.name" value='1' v-model="pin.in_lvl" v-on:change="gphigh(pin.name, pin.high)">
                  		   <label for="Hi">Hi</label>
                  		   <input type="radio" v-bind:name="'OUT'+pin.name" value='0' v-model="pin.in_lvl" v-on:change="gplow(pin.name, pin.low)">
                  		   <label for="Lo">Lo</label>
                  		   <input type="radio" v-bind:name="'TEST'+pin.name" value='true' v-model="pin.test" v-on:change="gptest(pin.name)">
                  		   <label for="Test">Flash</label>
                    </a>
                </div>
              </div>
            </div>
        	</div>
  	      <!-- <div class="centercol">
  	      	<img class="img" src="/static/css/rp2_pinout.png" alt="RaspPi IO Port" />
  	      </div> -->
<!-- ----------------------------------------------------------------------------------------------- -->
  	   	  <div class="centercol">
            <div class='script' v-for="script in scripts" v-bind:key='script.name'>
              <div class='grid' id='script_select'>
                <div>
                  <button class='scriptbtn' v-bind:name="script.name" value='script.name' v-on:click="runscript(script.num)">${script.name}</button>
                </div>
              </div>
            </div>
          </div>
<!-- ----------------------------------------------------------------------------------------------- -->
          <div class="rightcol">
            <template v-if='"{{request.user.username}}"=="bill"'>
              <iframe class="pyterm" src="{{IP}}"></iframe>
            </template>
            <template v-if='"{{request.user.username}}"=="pi"'>
    	      	<img class="img" src="/static/css/rp2_pinout.png" alt="RaspPi IO Port" />
    	      </template>
          </div>
<!-- ----------------------------------------------------------------------------------------------- -->
        </div>
      <script src="static/vue.js"></script>
      <script src="static/js.cookie.min.js"></script>
      <script src="static/main.js"></script>
    </body>
</html>
